body{
    background-color: lightblue;
}
    
h1 {text-align: center;
    font-family: 'Squada One', cursive;
    
}

h2{text-align: center;
    font-family: 'Squada One', cursive;
}

h3{text-align: center;
    
}

div.game{
    float: right;
}

#CUBISM {
    text-align: left;
}

div.instructions{
    float: left;
}

.carousel .caption {
    text-align: center;
}