  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  body{
      background-image: url("music note.png");
      background-repeat: repeat-x;
      background-position: -5px 225px;
  }
