  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  body{
      background-color: lightblue;
      background-image: url("music note.png");
      background-repeat: repeat-x;
      background-position: -5px 225px;
  }
#one{
    font-family: 'McLaren', cursive;
    font-size: 60px;
}